/* CUSTOM PROPERTIES */
:root {
    --header-nav-height: 80px;
    --bg-color: rgb(180 208 231);
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* BODY */
body {
    font-family: 'Open Sans', sans-serif;
}

/* COMMON */
.flex {
    display: flex;
}

ul {
    list-style: none;
}

.container-big {
    width: 75%;
    margin: 0 auto;
}

.container-small {
    width: 65%;
    margin: 0 auto;
}

/* HEADER */

header {
    background-color: var(--bg-color);
    padding-top: calc(var(--header-nav-height) + 20px);
    /* Debug */
    height: 500px;
}

/* Navbar */

.header-nav {
    height: var(--header-nav-height);
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    /* Debug */
    background-color: aqua;
}

.header-nav li {
    display: inline-block;
    padding: 0 1em;
}

.nav-left,
.nav-right {
    width: 50%;
    padding: 0 1em;
}

.nav-left {
    text-align: left;
    /* Debug */
    background-color: green;
}

.nav-right {
    text-align: right;
    /* Debug */
    background-color: yellow;
}

/* Hero */
.hero {
    padding-top: 2em;
    justify-content: space-between;
}

.hero-text {
    width: 33%;
}

.hero-img {
    width: 65%;
    /* Debug */
    min-height: 300px;
    background-color: blue;
}

/* MAIN */
main {
    /* Debug */
    padding-top: 8em;
}

/* Section business plan */

.business-plan h2 {
    padding: 2em 0;
}

.business-choice {
    justify-content: space-between;
    flex-wrap: wrap;
}

.choice {
    border: 1px solid black;
    width: 31%;
    margin-bottom: 2.5em;
    /* Debug */
    min-height: 500px;
    background-color: red;
}

.choice-large {
    width: 100%;
    border: 1px solid black;
    /* Debug */
    min-height: 200px;
    background-color: red;
}

/* Section search partner */
.search-partner {
    padding: 5em 0;
    justify-content: space-between;
}
.section-img {
    width: 62%;
    /* Debug */
    min-height: 300px;
    background-color: blue;
}

.section-content {
    width: 35%;
}

/* Section with dropbox business */
.dropbox-business {
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    width: 31%;
    padding: 2em 0;
    /* Debug */
    min-height: 300px;
    border: 1px solid black;
    background-color: aqua;
}

/* Section with logo partners */
.section-partners {
    width: 100%;
}

.content {
    width: calc(100% / 3);
    /* Debug */
    min-height: 300px;
    background-color: yellow;
    border: 1px solid black;
}

/* Section with bg color */
.section-bg-color {
    background-color: var(--bg-color);
    padding: 5em 0;
}

.section-bg-color h2 {
    padding-right: 8em;
}