/* CUSTOM PROPERTIES */
:root {
    --header-nav-height: 80px;
    --bg-color: rgb(180 208 231);
    --btn-blu: rgb(0 97 255);
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* BODY */
body {
    font-family: 'Open Sans', sans-serif;
}

/* COMMON */
.flex {
    display: flex;
}

.space {
    justify-content: space-between;
}

ul {
    list-style: none;
}

.container-big {
    width: 70%;
    margin: 0 auto;
}

.container-small {
    width: 60%;
    margin: 0 auto;
}

a {
    color: inherit;
    text-decoration: none;
}

.btn {
    padding: .5em 1em;
    display: block;
}

.btn-white {
    border: 1px solid black;
}

.btn-blu {
    background-color: var(--btn-blu);
    color: white;
}

.blu-icon span {
    color: var(--btn-blu);
}

/* HEADER */

header {
    background-color: var(--bg-color);
    padding-top: calc(var(--header-nav-height) + 60px);
    height: 800px;
}

header h1 {
    font-size: 4rem;
    font-weight: 800;
    padding-bottom: 1em;
}

/* Navbar */

.header-nav {
    height: var(--header-nav-height);
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background-color: white;
}

.logo-header {
    padding-left: 1em;
}

.header-nav li {
    display: inline-block;
    padding: 0 1em;
}

.nav-left,
.nav-right {
    width: 50%;
    padding: 0 1em;
}

.nav-left {
    text-align: left;
}

.nav-right {
    text-align: right;
}

/* Hero */
.hero-text {
    width: 25%;
}

.hero-img {
    width: 65%;
}

.hero-text p {
    padding: 2em 0;
}

.arrow-down {
    padding-top: 40px;
    display: block;
    font-size: 50px;
}

/* MAIN */

main section {
    padding-top: 8em;
}

main h2 {
    font-size: 2.5rem;
    font-weight: 600;
}

/* Section business plan */
.radio-box {
    padding: 2em 0;
}

.business-choice {
    flex-wrap: wrap;
}

.choice {
    border: 1px solid black;
    width: 31%;
    margin-bottom: 2.5em;
}

.choice-type {
    text-align: center;
    line-height: 3em;
    border-bottom: 1px solid black;
}

.content-choice {
    padding: 2em 2em 0;
}

.choice-title h3 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: .5em;
}

.choice p {
    margin-bottom: 1em;
}

.performance {
    padding: 2em 0;
}

.performance .flex p {
    width: 85%;
}

.btn-choice {
    text-align: center;
    padding-bottom: 2em;
}

.buy-link {
    color: rgb(0 0 238);
    ;
    text-decoration: underline;
}

.content-choice hr {
    border: 1px solid rgb(208 208 211);
    margin: 2.5em 0;
    width: 50px;
}

.content-choice h4 {
    font-weight: 600;
}

.choice-large {
    width: 100%;
    border: 1px solid black;
}

.choice-large .choice-title {
    width: 65%;
}

.choice-large .choice-title {
    padding-bottom: 2em;
}

/* Section search partner */
.section-img {
    width: 65%;
}

.section-content {
    width: 30%;
}

.section-content h3 {
    font-size: 1.5rem;
    padding: 2em 0 1em;
}

.section-content p {
    padding-bottom: 2em;
}

.section-content .btn {
    width: fit-content;
}

/* Section with dropbox business */
.dropbox-business {
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    width: 31%;
    padding: 2em 0;
    /* Debug */
    min-height: 300px;
    border: 1px solid black;
    background-color: aqua;
}

/* Section with logo partners */
.section-partners {
    width: 100%;
}

.content {
    width: calc(100% / 3);
    /* Debug */
    min-height: 300px;
    background-color: yellow;
    border: 1px solid black;
}

/* Section with bg color */
.section-bg-color {
    background-color: var(--bg-color);
    padding: 5em 0;
}

.section-bg-color h2 {
    padding-right: 8em;
}

/* FOOTER */
footer {
    background-color: black;
    /* Debug */
    min-height: 700px;
}

.footer-top {
    /* Debug */
    min-height: 500px;
    background-color: gray;
}

.footer-bottom {
    /* Debug */
    min-height: 200px;
    background-color: lightblue;
}